{% extends "base.html" %}
{% block title %}
	SIMCOPV Agregar Periodo
{% endblock title %}
{% block content %}
	{% if messages %}
			{% for message in messages %}
			{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
			<div class="alert alert-danger">	
			{% endif %}
			{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
			<div class="alert alert-success">	
			{% endif %}
			{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
			<div class="alert alert-warning">	
			{% endif %}
			<button class="close" data-dismiss="alert"><span>&times;</span></button>
				<strong>Alerta!</strong> {{message}}	
			</div>
			{% endfor %}
	{% endif %}
	<br>
	<h3 class="text-center">
	<div class="panel panel-default">
		<div class="panel-heading">
			Lista de Usuarios
		</div>
	</div>
	</h3>
	<div class="panel panel-primary">
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-7">
						<form id="tipos" action="" method="get" role="form">
				         <ul class="nav nav-tabs">
				            <li role="presentation" class="active"><a href="#1">LOSEP</a></li>
				             <li role="presentation"><a href="#2">Código de Trabajo</a></li>
				             <input id="id_tipo" type="hidden" value="LOSEP" name="tipo">
				         </ul>
				        </form>
				</div>
				<div class="col-xs-5">
					<div class="pull-right">
						<form action="" class="form-inline" method="post" role="form">
							{% csrf_token %}
							<div class="form-group">
								<input type="text" name="fecha" value="{{fecha}}" readonly="readonly" class="form-control">
								<input type="hidden" name="lista">
							</div>
							<div class="form-group">
								<button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-plus"></span> Agregar Periodo</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-xs-12">
					<div id="users" class="table-responsive">
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
{% block javascript %}
	{{block.super}}
	<script>
		$(document).ready(function(){
			$("a[href=\"#1\"]").on("click",function(){
				$(this).parent().siblings().removeClass("active");
				$(this).parent().addClass("active");
				$("input#id_tipo").val("LOSEP");
				$("form#tipos").submit();
				seleccionados = [];
			});
			$("a[href=\"#2\"]").on("click",function(){
				$(this).parent().siblings().removeClass("active");
				$(this).parent().addClass("active");
				$("input#id_tipo").val("Codigo de Trabajo");
				$("form#tipos").submit();
				seleccionados = [];
			});
			$("form#tipos").on("submit",function(event){
				event.preventDefault();
				ajaxify();
				return false;
			});
			ajaxify();
			function ajaxify(){
				$.ajax({
					type: "GET",
					url: "{% url 'tabla_tipo' %}",
					data: $("form#tipos").serialize(),
					success: function(data,status){
						$("div#users").html(data);
					},
					error: function(xhr,errmsg,err){
			          alert(xhr.status + ": " + xhr.responseText);
			        }
				});
			}
			var seleccionados = [];
			$("div#users").on("change","input[type=checkbox]",function(){
				var id = $(this).parent().next().text();
				if($(this).is(":checked")){
					if(seleccionados.indexOf(id)==-1){
						seleccionados.push(id);	
					}
				}else{
					var pos = seleccionados.indexOf(id);
					seleccionados.splice(pos,1);
				}
				$("input[name=lista]").val(seleccionados);
			});
		});
	</script>
{% endblock javascript %}