{% extends "base.html" %}
{% block css %}
	{{block.super}}
	<style>
	table#table-search tr.usuario-row td:hover{
		cursor: pointer;
	}
	</style>
{% endblock css %}
{% block content %}
	{% if messages %}
			{% for message in messages %}
			{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
			<div class="alert alert-danger">	
			{% endif %}
			{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
			<div class="alert alert-success">	
			{% endif %}
			{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
			<div class="alert alert-warning">	
			{% endif %}
			<button class="close" data-dismiss="alert"><span>&times;</span></button>
				<strong>Alerta!</strong> {{message}}	
			</div>
			{% endfor %}
	{% endif %}
	<h3 class="text-center">
	<div class="panel panel-default">
		<div class="panel-heading">
			Agregar Periodo por Usuario
		</div>
	</div>
	</h3>
	<div class="row">
		<div class="col-md-3 hidden-xs hidden-sm">
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="panel panel-default">
				<div class="panel-body">
					<form id="agregarperiodo" action="" class="form" role="form" method="post">
						{% csrf_token %}
						<div class="form-group">
							<label for="id_{{form.anio_periodo.name}}">Año:</label>
							<select name="{{form.anio_periodo.name}}" id="id_{{form.anio_periodo.name}}" class="form-control">
								{% for anio in years %}
									<option value="{{anio}}">{{anio}}</option>
								{% endfor %}
							</select>
							{{form.errors.anio_periodo}}
						</div>
						<div class="form-group">
							<label for="id_{{form.dias_fijo.name}}">Días de Vacaciones:</label>
							{{form.dias_fijo}}
							{{form.errors.dias_fijo}}
						</div>
						<div class="form-group">
							<label for="id_{{form.dias_vac.name}}">Días Restantes:</label>
							{{form.dias_vac}}
							{{form.errors.dias_vac}}
						</div>
						<div class="form-group">
							<label for="id_{{form.horas_vac.name}}">Horas Restantes:</label>
							<input type="time" name="{{form.horas_vac.name}}" id="id_{{form.horas_vac.name}}" class="form-control">
							{{form.errors.horas_vac}}
						</div>
						<div class="form-group">
							<label for="id_tipousuario">Tipo de Usuario:</label>
							<select name="tipo" id="id_tipousuario" class="form-control">
								<option value="LOSEP">LOSEP</option>
								<option value="Codigo de Trabajo">Codigo de Trabajo</option>
							</select>
						</div>
						<div class="form-group">
							<label for="id_{{form.usuario.name}}">Usuario:</label>
							<div class="input-group">
								<input type="text" id="usuario_nom" class="form-control" readonly="readonly">
								<span class="input-group-btn">
									<a href="#buscar" class="btn btn-info" data-toggle="modal"><span class="glyphicon glyphicon-search"></span></a>
								</span>
							</div>
							<input type="hidden" name="{{form.usuario.name}}" id="id_{{form.usuario.name}}" value="{{form.usuario.value}}">
							{{form.errors.usuario}}
						</div>
						<div class="form-group">
							<button class="btn btn-primary" type="submit">Agregar Periodo</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-3 hidden-xs hidden-sm">
		</div>
	</div>
	<div class="modal fade" id="buscar">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4>Seleccionar Usuario</h4>
				</div>
				<div class="modal-body">
					<form action="" id="form-buscar" class="form" method="get">
						<div class="form-group">
							<label for="id_search">Buscar:</label>
							<div class="input-group">
				               <input id="id_search" type="text" class="form-control" placeholder="Cedula o Apellido" name="buscar">
				               <input type="hidden" name="tipo" value="LOSEP">
				               <span class="input-group-btn">
				                	<button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-search"></span></button>
				                </span>
				            </div>
						</div>
					</form>
					<div class="table-responsive">
						<table id="table-search" class="table table-bordered"></table>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal" value="cancelar">Cancelar</button>
					<button id="aceptar-search" class="btn btn-info" data-dismiss="modal">Agregar Usuario</button>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
{% block javascript %}
	{{block.super}}
	<script>
		$(document).ready(function(){
			if($("input[name={{form.dias_vac.name}}]").val()==30){
    			$("input#id_{{form.horas_vac.name}}").val("00:00").attr("readonly","readonly");
    		}else{
				$("input#id_{{form.horas_vac.name}}").removeAttr("readonly");
    		}
			function ajaxify(){
				$.ajax({
					type: "GET",
					url: "{% url 'tabla_usuarios_periodo' %}",
					data: $("form#form-buscar").serialize(),
					success: function(data, status){
						$("table#table-search").html(data);
					},
					error: function(xhr,errmsg,err){
			          alert(xhr.status + ": " + xhr.responseText);
			        }
				});
			}
			$("form#form-buscar").on("submit",function(event){
				event.preventDefault();
				ajaxify();
				return false;
			});
			$("input[name={{form.dias_fijo.name}}]").val("30").attr("readonly","readonly");
			$("select#id_tipousuario").on("change",function(){
				$("input[name=tipo]").val($(this).val());
				$("input#usuario_nom").val("");
				$("input[name={{form.usuario.name}}]").val("");
				if ($(this).val()=="LOSEP"){
					$("input[name={{form.dias_vac.name}}]").val("30")
					$("input[name={{form.dias_fijo.name}}]").val("30").attr("readonly","readonly");
				}else{
					$("input[name={{form.dias_vac.name}}]").val("15");
					$("input[name={{form.dias_fijo.name}}]").val("15").removeAttr("readonly");
				}
				if($("input[name={{form.dias_vac.name}}]").val()==30){
	    			$("input#id_{{form.horas_vac.name}}").val("00:00").attr("readonly","readonly");
	    		}else{
					$("input#id_{{form.horas_vac.name}}").removeAttr("readonly");
	    		}
			});
			$("#buscar").on("hidden.bs.modal",function(){
				clean();
				username = "";
			});
			function clean(){
		      $('#table-search').html("");
		      $('#id_search').val("");
		    }
		    var username = "";
		    $("table#table-search").on('click','.usuario-row',function(){
		    	$(this).siblings().removeClass("active");
		    	$(this).addClass("active");
		    	var idusuario = $(this).children("td.hidden").text();
		    	var ciusuario = $(this).children("td.hidden").next().text();
		    	var nombreusuario = $(this).children("td.hidden").next().next().text() + " " +  $(this).children("td.hidden").next().next().next().text();
		    	$("input[name={{form.usuario.name}}]").val(idusuario);
		    	username = ciusuario + " - " + nombreusuario;
		    });
		    $("button#aceptar-search").on("click",function(){
		    	$("input#usuario_nom").val(username);
		    });
		    verificardias("{{form.dias_fijo.name}}");
		    verificardiasvacaciones("{{form.dias_vac.name}}");
		    function verificardias(name){
		    	$("input[name="+name+"]").on("focusout",function(){
			    	var num = $("input[name="+name+"]").val();
			    	if (!(parseInt(num) >= 15 && parseInt(num) <= 30)){
			    		$(this).parent().addClass("has-error");
			    		if ($("span#"+name).length == 0){
			    			$(this).parent().append('<span id="'+name+'">Escoja un número entre 15 y 30</span>');
			    		}
			    	}else{
			    		$(this).parent().removeClass("has-error");
			    		$("span#"+name).remove();
			    	}
			    	if($(this).attr("name")=="{{form.dias_vac.name}}"){
			    		if($(this).val()==30){
			    			$("input#id_{{form.horas_vac.name}}").val("00:00").attr("readonly","readonly");
			    		}else{
							$("input#id_{{form.horas_vac.name}}").removeAttr("readonly");
			    		}
			    	};
		    	});	
		    }
		    function verificardiasvacaciones(name){
		    	$("input[name="+name+"]").on("focusout",function(){
			    	var num = $("input[name="+name+"]").val();
			    	if (!(parseInt(num) >= 0 && parseInt(num) <= 30)){
			    		$(this).parent().addClass("has-error");
			    		if ($("span#"+name).length == 0){
			    			$(this).parent().append('<span id="'+name+'">Escoja un menor o igual a 30</span>');
			    		}
			    	}else{
			    		$(this).parent().removeClass("has-error");
			    		$("span#"+name).remove();
			    	}
			    	if($(this).attr("name")=="{{form.dias_vac.name}}"){
			    		if($(this).val()==30){
			    			$("input#id_{{form.horas_vac.name}}").val("00:00").attr("readonly","readonly");
			    		}else{
							$("input#id_{{form.horas_vac.name}}").removeAttr("readonly");
			    		}
			    	};
		    	});	
		    }
		    $("select#id_{{form.anio_periodo.name}}").on("change",function(){
		    	var year = new Date().getFullYear()+1;
		    	if ($(this).val() > year){
		    		$(this).parent().addClass("has-error");
		    		if ($("span#error").length == 0){
			    			$(this).parent().append('<span id="error">Seleccione un año válido (antes del '+year+')</span>');
			    		}
		    	}else{
		    		$(this).parent().removeClass("has-error");
		    		$("span#error").remove();
		    	}
		    });
		    $("form#agregarperiodo").on("submit",function(event){
		    	num = $("span#{{form.dias_fijo.name}}").length + $("span#{{form.dias_vac.name}}").length + $("span#error").length + $("span#errormax").length;
		    	if(num > 0){
		    		event.preventDefault();
		    		if($("div#formerror").length == 0){
		    			$(this).append('<div id="formerror" class="alert alert-danger"><button class="close" data-dismiss="alert"><span>&times;</span></button><strong>Alerta!<strong> Corrija los errores antes de ingresar el Periodo</div>');
		    		}
		    	}else{
		    		$("div#formerror").remove();
		    	}	
		    });
		    $("input[name={{form.dias_vac.name}}]").on("focusout",function(){
		    	fijos = $("input[name={{form.dias_fijo.name}}]").val();
		    	vacaciones = $("input[name={{form.dias_vac.name}}]").val();
		    	if (parseInt(vacaciones) > parseInt(fijos)){
		    		$(this).parent().addClass("has-error");
		    		if($("span#errormax").length == 0){
		    			$(this).parent().append('<span id="errormax" style="display:block">Los días restantes deben ser menores o iguales a los días de vacaciones</span>');
		    		}
		    	}else{
					$(this).parent().removeClass("has-error");
					$("span#errormax").remove();
		    	}
		    });
		});
	</script>
{% endblock javascript %}