{% extends "base.html" %}
{% block sidebar %}
<div id="sid" class="sidebar-nav navbar-collapse">
  <ul class="sidebar-menu nav" id="side-menu">
    <li class="header">Control</li>
    <li>
      <a href="{% url 'base' %}"><i class='glyphicon glyphicon-dashboard'></i> <span>Inicio</span></a>
    </li>
    <li>
      <a href="#"><i class='glyphicon glyphicon-book'></i><span>Registrar</span>
      <div class="pull-right"><span class="glyphicon glyphicon-menu-down"></span></div>
      </a>
      <ul class="nav nav-second-level">
        <li><a href="{% url 'agregarusuario' %}">Usuarios</a></li>
        <li><a href="{% url 'agregarperiodo' %}">Periodo</a></li>
      </ul>
    </li>
    <li><a href="{% url 'permiso' %}"><i class='glyphicon glyphicon-user'></i> <span>Permisos</span></a></li>
    <li><a href="#"><i class='glyphicon glyphicon-pencil'></i> <span>Vacaciones</span></a></li>
    <li><a href="{% url 'config' %}"><i class='glyphicon glyphicon-cog'></i> <span>Configuracion</span></a></li>
  </ul>
 </div>
{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-sm-3 hidden-xs hidden-sm">
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="panel panel-default">
				<div class="panel-body">
					<h3 class="text-center">Agregar Usuario</h3>
					<form action="" method="post" class="form" role="form">
						{% csrf_token %}
						{{form}}
						<br>	
						<button type="submit" class="btn btn-info">Agregar Usuario</button>
						<a href="#modal-unidad-agregar" class="btn btn-primary pull-right" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span> Agregar Unidad</a>
					</form>
				</div>
			</div>
		</div>
		<div class="col-sm-3 hidden-xs hidden-sm">
		</div>
	</div>
	<br>
	{% if men %}
		<div class="alert alert-sucess">
			<button class="close" data-dismiss="alert"><span>&times;</span></button>
			<strong>Alerta!</strong> {{men}}
		</div>
	{% endif %}
	<div class="modal fade" id="modal-unidad-agregar">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4>Agregar Unidad</h4>
				</div>
				<form action="" method="post" role="form" class="form">
					{% csrf_token %}
					<div class="modal-body">
						{{form_unidad}}
						<input name="unidad" type="hidden" value="unidad">
					</div>
					<div class="modal-footer">
						<button class="btn btn-default" data-dismiss="modal" value="aceptar">Cancelar</button>
						<button type="submit" class="btn btn-info">Agregar Unidad</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock content %}
{% block javascript %}
	{{block.super}}
	<script>
		$("#id_password").attr("readonly","readonly");
		$("#id_cedula").on("focusout",function(){
			var text = $(this).val();
			$(this).siblings("input#id_password").val(text);
		});
	</script>
{% endblock javascript %}