{% extends "base.html" %}
{% block content %}
	{% if messages %}
			{% for message in messages %}
			{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
			<div class="alert alert-danger">	
			{% endif %}
			{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
			<div class="alert alert-success">	
			{% endif %}
			{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
			<div class="alert alert-warning">	
			{% endif %}
			<button class="close" data-dismiss="alert"><span>&times;</span></button>
				<strong>Alerta!</strong> {{message}}	
			</div>
			{% endfor %}
	{% endif %}
	<br>
	<div class="row">
		<div class="col-sm-3 hidden-xs hidden-sm">
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="panel panel-default">
				<div class="panel-body">
					<h3 class="text-center">Agregar Usuario</h3>
					<form action="" method="post" enctype="multipart/form-data" class="form" role="form">
						{% csrf_token %}
						{{form}}
						<br>	
						<button type="submit" class="btn btn-info">Agregar Usuario</button>
						<a href="#modal-unidad-agregar" class="btn btn-primary pull-right" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span> Agregar Unidad</a>
					</form>
				</div>
			</div>
		</div>
		<div class="col-sm-3 hidden-xs hidden-sm">
		</div>
	</div>
	<div class="modal fade" id="modal-unidad-agregar">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4>Agregar Unidad</h4>
				</div>
				<form action="" method="post" role="form" class="form">
					{% csrf_token %}
					<div class="modal-body">
						{{form_unidad}}
						<input name="unidad" type="hidden" value="unidad">
					</div>
					<div class="modal-footer">
						<button class="btn btn-default" data-dismiss="modal" value="aceptar">Cancelar</button>
						<button type="submit" class="btn btn-info">Agregar Unidad</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock content %}
{% block javascript %}
	{{block.super}}
	<script>
		$("#id_password").attr("readonly","readonly");
		$("#id_cedula").on("focusout",function(){
			var text = $(this).val();
			$(this).siblings("input#id_password").val(text);
		});
	</script>
{% endblock javascript %}