{% extends "base.html" %}
{% load static from staticfiles %}
{% block css %}
  {{block.super}}
  <style>
  #table-search > tbody > tr.active td{
      background-color: #e5e5e5;
  }
  ul#ulside li a{
    overflow: hidden;
  }
  </style>
{% endblock css %}
{% block content %}
  <div class="row">
    <div class="col-xs-12"> 
      <div class="text-center">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Asignar Roles</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if messages %}
    {% for message in messages %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
      <div class="alert alert-danger">  
      {% endif %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
      <div class="alert alert-success"> 
      {% endif %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
      <div class="alert alert-warning"> 
      {% endif %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
      <div class="alert alert-info">  
      {% endif %}
      <button class="close" data-dismiss="alert"><span>&times;</span></button>
        <strong>Alerta!</strong> {{message}}  
      </div>
      {% endfor %}
  {% endif %}
  <br>
	<div class="row">
   <div class="col-xs-3">
    <div class="panel panel-primary">
      <div class="panel-body">
        <form id="grupo" action="" method="get" role="form">
         <ul id="ulside" class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#1">Jefes Inmediatos</a></li>
             <li role="presentation"><a href="#2">Secretarias</a></li> 
             <li role="presentation"><a href="#3">Usuarios</a></li> 
             <li role="presentation"><a href="#4">Gerente y Encargados</a></li> 
             <li role="presentation"><a href="#5">Jefe Talento y Encargados</a></li>
             <input id="id_grupo" type="hidden" value="1" name="grupo">
         </ul>
        </form>
      </div>
    </div>
   </div>
   <div class="col-xs-9">
     <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 style="display:inline-block">Lista de Usuarios</h4>
          <a href="#usuarios" data-toggle="modal" class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus"></span> Agregar Usuario</a>
        </div>
       <div class="panel-body"> 
        <div class="table-responsive" id="content-table">
        </div>
       </div>
     </div>
   </div>
  </div>
  <div class="modal fade" id="usuarios">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Agregar Usuario</h4>
        </div>
        <div class="modal-body">
          <form id="form-search" action="" method="get">
            <div class="form-group">
              <label for="id_search">Buscar:</label>
              <div class="input-group">
                <input id="id_search" type="text" class="form-control" placeholder="Cedula o Apellido" name="buscar">
                <span class="input-group-btn">
                <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-search"></span></button>
                </span>
              </div>
            </div>
          </form>
          <div class="table-responsive">
            <table id="table-search" class="table table-bordered"></table>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal" value="cancelar">Cancelar</button>
          <button id="aceptar-search" class="btn btn-info" data-dismiss="modal">Agregar Usuario</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="eliminar">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Dar de Baja</h4>
        </div>
        <div class="modal-body">
          ¿Esta seguro que desea quitar este usuario del rol seleccionado?
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <form action="" method="post" style="display: inline-block">
            {% csrf_token %}
            <input type="hidden" id="idusuarioeliminar" name="idusuarioeliminar">
            <input type="hidden" id="idgrupo" name="idgrupo">
            <button type="submit" class="btn btn-danger">Eliminar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block javascript %}
  {{block.super}}
  <script>
  // Function that binds csrf_token to every ajax request
  $(function () {
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
          }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    $.ajaxSetup({
        headers: { "X-CSRFToken": csrftoken }
    });
  });
  // JQuery normal functions
  $(document).on("ready",function(){
    $("form#form-search").on("submit",function(event){
      event.preventDefault();
      $.ajax({
        type: "GET",
        url: "{% url 'usuario_search' %}",
        data: $("form#form-search").serialize(),
        content: $("form#form-search"),
        success: function(data, status){
          $("table#table-search").html(data);
        },
        error: function(xhr,errmsg,err){
          alert(xhr.status + ": " + xhr.responseText);
        }
      });
      return false;
    });
    var usuarios = [];
    function ajaxfy(id){
      $.ajax({
          type:"GET",
          url: "/usuarios/ajax/asignar-roles/grupo/"+id+"/",
          data: $("form#grupo").serialize(),
          content: $("form#grupo"),
          success: function(data, status){
            $("div#content-table").html(data);
          }
      });
    }
    ajaxfy(1);
    $("div.col-xs-9 div.panel-heading h4").text("Lista de Jefes Inmediatos");
    $("a[href=\"#1\"]").on("click",function(){
      $("input#id_grupo").val("1");
      ajaxfy(1);
      $(this).parent().siblings().removeClass("active");
      $(this).parent().addClass("active");
      $("div.col-xs-9 div.panel-heading h4").text("Lista de Jefes Inmediatos");
    });
    $("a[href=\"#2\"]").on("click",function(){
      $("input#id_grupo").val("2");
      ajaxfy(2);
      $(this).parent().siblings().removeClass("active");
      $(this).parent().addClass("active");
      $("div.col-xs-9 div.panel-heading h4").text("Lista de Secretarias");
    });
    $("a[href=\"#3\"]").on("click",function(){
      $("input#id_grupo").val("3");
      ajaxfy(3);
      $(this).parent().siblings().removeClass("active");
      $(this).parent().addClass("active");
      $("div.col-xs-9 div.panel-heading h4").text("Lista de Usuarios");
    });
    $("a[href=\"#4\"]").on("click",function(){
      $("input#id_grupo").val("4");
      ajaxfy(4);
      $(this).parent().siblings().removeClass("active");
      $(this).parent().addClass("active");
      $("div.col-xs-9 div.panel-heading h4").text("Lista de Gerente y Encargados");
    });
    $("a[href=\"#5\"]").on("click",function(){
      $("input#id_grupo").val("5");
      ajaxfy(5);
      $(this).parent().siblings().removeClass("active");
      $(this).parent().addClass("active");
      $("div.col-xs-9 div.panel-heading h4").text("Lista de Jefe Talento Humano y Encargados");
    });
    $('#usuarios').on('hidden.bs.modal', function () {
      clean();
      usuarios = [];
    });
    function clean(){
      $('#table-search').html("");
      $('#id_search').val("");
    }
    $("table#table-search").on('click','.usuario-row',function(){
      $(this).addClass("active");
      addList($(this).children("td.hidden").text());
    });
    function addList(usuario){
      usuarios.push(usuario);
    }
    $("button#aceptar-search").on("click",function(){
      var grupoid = $("input#id_grupo").val();
      $.ajax({
        type: "POST",
        url: "{% url 'asignarroles' %}",
        data: {lista:usuarios,grupoid:grupoid},
        success: function(){
          ajaxfy(grupoid);
        },
        error: function(xhr,errmsg,err){
          alert(xhr.status + ": " + xhr.responseText);
        }
      });
    });
    $("div#content-table").on("click","a[href=\"#eliminar\"]",function(){
      var bitch = $(this).parent().siblings(".hidden").text();
      $("input#idusuarioeliminar").val(bitch);
      $("input#idgrupo").val($("input#id_grupo").val());
    });
  });
  </script>
{% endblock javascript %}