{% extends "base.html" %}
{% load static from staticfiles %}
{% block sidebar %}
      <!-- Sidebar Menu -->
  <div id="sid" class="sidebar-nav navbar-collapse">
  <ul class="sidebar-menu nav" id="side-menu">
    <li class="header">Control</li>
    <!-- Optionally, you can add icons to the links -->
    <li>
      <a href="{% url 'base' %}"><i class='glyphicon glyphicon-dashboard'></i> <span>Inicio</span></a>
    </li>
    <li class="active">
      <a href="#"><i class='glyphicon glyphicon-book'></i><span>Registrar</span>
      <div class="pull-right"><span class="glyphicon glyphicon-menu-down"></span></div>
      </a>
      <ul class="nav nav-second-level">
        <li><a href="{% url 'agregarusuario' %}">Usuarios</a></li>
        <li><a href="{% url 'asignarroles' %}">Roles</a></li>
        <li><a href="{% url 'agregarperiodo' %}">Periodos</a></li>
      </ul>
    </li>
    <li><a href="{% url 'permiso' %}"><i class='glyphicon glyphicon-user'></i> <span>Permisos</span></a></li>
    <li><a href="#"><i class='glyphicon glyphicon-pencil'></i> <span>Vacaciones</span></a></li>
    <li><a href="{% url 'config' %}"><i class='glyphicon glyphicon-cog'></i> <span>Configuracion</span></a></li>
  </ul><!-- /.sidebar-menu -->
  </div>
{% endblock sidebar %}
{% block content %}
	<div class="row">
   <div class="col-xs-3">
    <div class="panel panel-primary">
      <div class="panel-body">
        <form id="grupo" action="" method="get" role="form">
         <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#1">Jefes Inmediatos</a></li>
             <li role="presentation"><a href="#2">Secretarias</a></li> 
             <li role="presentation"><a href="#3">Usuarios</a></li> 
             <li role="presentation"><a href="#4">Gerente y Encargados</a></li> 
             <li role="presentation"><a href="#5">Jefe Talento y Encargados</a></li>
             <input id="id_grupo" type="hidden" value="1" name="grupo">
         </ul>
        </form>
      </div>
    </div>
   </div>
   <div class="col-xs-9">
     <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 style="display:inline-block">Lista de Usuarios</h4>
          <a href="#usuarios" data-toggle="modal" class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus"></span> Agregar Usuario</a>
        </div>
       <div class="panel-body" id="content-table"> 
       </div>
     </div>
   </div>
  </div>
  <div class="modal fade" id="usuarios">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Agregar Usuario</h4>
        </div>
        <div class="modal-body">
          <h3>Nothing yet</h3>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal" value="cancelar">Cancelar</button>
          <button type="submit" class="btn btn-info">Agregar Usuario</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block javascript %}
  {{block.super}}
  <script>
  $(document).on("ready",function(){
    function ajaxfy(id){
      $.ajax({
          type:"GET",
          url: "/usuarios/registrar/asignar-roles/grupo/"+id+"/",
          data: $("form#grupo").serialize(),
          content: $("form#grupo"),
          success: function(data, status){
            $("div#content-table").html(data);
          }
      });
    }
    ajaxfy(1);
    $("div.panel-heading h4").text("Lista de Jefes Inmediatos");
    $("a[href=\"#1\"]").on("click",function(){
      $("input#id_grupo").val("1");
      ajaxfy(1);
      $(this).parent().siblings().removeClass("active");
      $(this).parent().addClass("active");
      $("div.panel-heading h4").text("Lista de Jefes Inmediatos");
    });
    $("a[href=\"#2\"]").on("click",function(){
      $("input#id_grupo").val("2");
      ajaxfy(2);
      $(this).parent().siblings().removeClass("active");
      $(this).parent().addClass("active");
      $("div.panel-heading h4").text("Lista de Secretarias");
    });
    $("a[href=\"#3\"]").on("click",function(){
      $("input#id_grupo").val("3");
      ajaxfy(3);
      $(this).parent().siblings().removeClass("active");
      $(this).parent().addClass("active");
      $("div.panel-heading h4").text("Lista de Usuarios");
    });
    $("a[href=\"#4\"]").on("click",function(){
      $("input#id_grupo").val("4");
      ajaxfy(4);
      $(this).parent().siblings().removeClass("active");
      $(this).parent().addClass("active");
      $("div.panel-heading h4").text("Lista de Gerente y Encargados");
    });
    $("a[href=\"#5\"]").on("click",function(){
      $("input#id_grupo").val("5");
      ajaxfy(5);
      $(this).parent().siblings().removeClass("active");
      $(this).parent().addClass("active");
      $("div.panel-heading h4").text("Lista de Jefe Talento Humano y Encargados");
    });
  });
  </script>
{% endblock javascript %}