{% extends "base.html" %}
{% block title %}
	SIMCOPV Agregar Periodo
{% endblock title %}
{% block css %}
	{{block.super}}
	<style>
		table.table{
			background-color: #2dfcb2;
		}
		table.table tr:hover{
			cursor:pointer;
		}
	</style>
{% endblock css %}
{% block content %}
	<h3 class="text-center">Lista de Usuarios</h3>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>1</th>
				<th>2</th>
				<th>3</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>2</td>
				<td>3</td>
			</tr>
		</tbody>
	</table>
{% endblock content %}
