<table class="table table-bordered table-responsive text-center">
 <thead>
   <tr>
    <th>Revocar</th>
     <th>Cédula</th>
     <th>Nombre</th>
     <th>Apellido</th>
    <th>Puesto</th>
     <th>Unidad</th>
   </tr>
 </thead>
 <tbody>
  {% if usuarios|length > 0 %}
    {% for user in usuarios %}
    <tr>
      <td style="width: 3px"><a href="#eliminar" class="btn btn-xs btn-danger eliminar" data-toggle="modal">
      <span class="glyphicon glyphicon-remove"></span>
      </a></td>
      <td class="hidden">{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.first_name}}</td>
      <td>{{user.last_name}}</td>
      <td>{{user.persona.puesto}}</td>
      <td>{{user.persona.unidad}}</td>
    </tr>
    {% endfor %}
  {% else %}
    <tr>
      <td colspan="7">
        Actualmente no hay usuarios que posean este rol
      </td>
    </tr>
  {% endif %}
 </tbody>
</table>