{% extends "base.html" %}
{% block css %}
	{{block.super}}
	<style>
		table#table_usuarios tr.usuario-row:hover{
			background-color: #e5e5e5;
			cursor: pointer;
		}
	</style>
{% endblock css %}
{% block content %}
	<h4>
	  <div class="text-center">
	    <div class="panel panel-default">
	      <div class="panel-heading">
	        Lista de Usuarios
	      </div>
	    </div>
	  </div>
	</h4>
	{% if messages %}
			{% for message in messages %}
			{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
			<div class="alert alert-danger">	
			{% endif %}
			{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
			<div class="alert alert-success">	
			{% endif %}
			{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
			<div class="alert alert-warning">	
			{% endif %}
			<button class="close" data-dismiss="alert"><span>&times;</span></button>
				<strong>Alerta!</strong> {{message}}	
			</div>
			{% endfor %}
	{% endif %}
	<div class="row">
		<div class="col-xs-12">
			<div class="text-center">
				<form action="" method="get" id="form-search" class="form-inline">
					<div class="form-group">
						<label for="id_buscar">Buscar: 	</label>
						<div class="input-group">
							<input type="text" name="buscar" id="id_buscar" class="form-control" placeholder="Cédula o Apellido">
							<span class="input-group-btn">
								<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
							</span>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="table_usuarios">
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
		<div class="modal fade" id="modal-baja">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4>¿Está seguro que desea dar de baja este Usuario?</h4>
				</div>
				<div class="modal-body">
					<p class="username"></p>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<form action="" method="post" style="display: inline-block;">
						{% csrf_token %}
						<input type="hidden" id="idusuario" name="idusuario">
						<button class="btn btn-danger" type="submit">Dar de Baja</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
{% block javascript %}
	{{block.super}}
	<script>
	 $(document).ready(function(){
	 	tabla_ajax();
	 	$("form#form-search").on("submit",function(event){
	 		event.preventDefault();
	 		tabla_ajax();
	 		return false;
	 	});
	 	function tabla_ajax(){
	 		$.ajax({
	 			type: "GET",
	 			data: $("form#form-search").serialize(),
	 			url: "{% url 'tabla_usuarios' %}",
	 			success: function(data, status){
	 				$("table#table_usuarios").html(data);
	 			},
	 			error: function(xhr,errmsg,err){
		          alert(xhr.status + ": " + xhr.responseText);
		        }
	 		});
	 	}
	 	$("table#table_usuarios").on("click","a[href=#modal-baja]",function(){
	 		$("input#idusuario").val($(this).next().text());
	 		ci = $(this).parent().next().text();
	 		nombre = $(this).parent().next().next().text() + " " + $(this).parent().next().next().next().text();
	 		$("p.username").text("CI: "+ci+" - "+nombre);
	 	});
	 });

	</script>
{% endblock javascript %}