<!DOCTYPE html>
<html>
<head>
	<title>SIMCOPV Página Principal</title>
	{% load static from staticfiles %}
	<link rel="stylesheet" href="{% static "bootstrap.min.css"%}" />
	<script src="{% static "jquery-2.1.4.min.js"%}"></script>
</head>
<body>
	<!--- <marquee> {{hora}} </marquee> 
	{% for i in lista %}
	<li>{{i}}</li>
	{% endfor %}---->
	<h2> Esta es la sumita = {{sumita}} </h2>
	<div class="button btn btn-warning">Press me!</div>
	<script>
	function hola()
	{
		alert("Dije Hola");
	}
	function log()
	{
		console.log("Esto es un clic");
	}
	$(".button")
		.on("click", hola)
		.on("click", log)
	</script>
</body>
</html>