{% extends "base.html" %}
{% block content %}
{% if messages %}
  {% for message in messages %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
  <div class="alert alert-danger">  
  {% endif %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
  <div class="alert alert-success"> 
  {% endif %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
  <div class="alert alert-warning"> 
  {% endif %}
  <button class="close" data-dismiss="alert"><span>&times;</span></button>
    <strong>Alerta!</strong> {{message}}  
  </div>
  {% endfor %}
{% endif %}
<h4 class="text-center">
<div class="panel panel-default">
	<div class="panel-heading">
		Validar Permiso
	</div>
</div>
</h4>
{% if permiso|length_is:"0" %}
	<h4 class="text-center"> No existe ese permiso </h4>
{% else %}
	<div class="row">
		<div class="col-sm-3 hidden-xs hidden-sm">
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="panel panel-default">
				<div class="panel-body">
					<form action="" role="form" class="form" method="post" id="validarform"> 
						{% csrf_token %}
						<div class="form-group">
							<label for="id_periodo">Periodo</label>
							<input type="text" name="periodo" id="id_periodo" class="form-control">
						</div>
						<div class="form-group">
							<label for="id_usuario">Usuario</label>
							<input type="text" name="usuario" id="id_usuario" class="form-control">
						</div>
						<div class="form-group">
			              <label for="id_fecha_inicio">Fecha Inicio:</label>
			              <input type="date" id="id_fecha_inicio" name="fecha_inicio" class="form-control">
			            </div>
			            <div class="form-group">
			              <label for="id_hora_inicio">Hora Inicio:</label>
			              <input type="time" id="id_hora_inicio" name="hora_inicio" class="form-control">
			            </div>
			            <div class="form-group">
			              <label for="id_fecha_fin">Fecha Fin:</label>
			              <input type="date" id="id_fecha_fin" name="fecha_fin" class="form-control">
			            </div>
			            <div class="form-group">
			              <label for="id_hora_fin">Hora Fin:</label>
			              <input type="time" id="id_hora_fin" name="hora_fin" class="form-control">
			            </div>
			            <div class="form-group">
			              <label for="id_descripcion">Descripción</label>
			              <textarea name="descripcion" id="id_descripcion" cols="30" rows="10" placeholder="Escriba el motivo por el que pide el permiso" class="form-control"></textarea>
			            </div>
			            <div class="form-group">
			            	<label for="id_tipopermiso">Tipo de Permiso</label>
			            	<div class="row">
			            		<div class="col-xs-9">
					            	<select name="tipopermiso" id="id_tipopermiso" class="form-control">
					            		<option value=""></option>
					            		<option value="Imputable">Imputable</option>
					            		<option value="No Imputable">No Imputable</option>
					            	</select>
			            		</div>
			            		<div class="col-xs-3">
			            			<div class="pull-left">
			            				<a href="#change" style="text-decoration: underline">Cambiar</a>
			            			</div>
			            		</div>
			            	</div>
			            </div>			           
			            <button class="btn btn-success pull-right">Validar</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col-sm-3 hidden-xs hidden-sm">
		</div>
	</div>
{% endif %}
{% endblock content %}
{% block javascript %}
	{{block.super}}
	<script>
		$(document).ready(function(){
			// At the beginning of the load of the page
			$("#change").on("click",function(){
				$("#id_tipopermiso").prop("readonly",true);
			});
		});
	</script>
{% endblock javascript %}