{% extends "base.html" %}
{% block content %}
{% if messages %}
  {% for message in messages %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
  <div class="alert alert-danger">  
  {% endif %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
  <div class="alert alert-success"> 
  {% endif %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
  <div class="alert alert-warning"> 
  {% endif %}
  <button class="close" data-dismiss="alert"><span>&times;</span></button>
    <strong>Alerta!</strong> {{message}}  
  </div>
  {% endfor %}
{% endif %}
<h4 class="text-center">
<div class="panel panel-default">
	<div class="panel-heading">
		Validar Permiso
	</div>
</div>
</h4>
{% if permiso|length_is:"0" %}
	<h4 class="text-center"> No existe ese permiso </h4>
{% else %}
	<div class="row">
		<div class="col-sm-3 hidden-xs hidden-sm">
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="pull-left">
						<a href="{% url 'validarRRHH' %}" class="btn btn-default"><span class="glyphicon glyphicon-menu-left"></span> Regresar</a>
					</div>
					<br>
					<br>
					<form action="" role="form" class="form" method="post" id="validarform"> 
						{% csrf_token %}
						<div class="form-group">
							<label for="id_usuario">Usuario</label>
							<input type="text" id="id_usuario" readonly="readonly" class="form-control" value="{{permiso.usuario.first_name}}  {{permiso.usuario.last_name}}">
						</div>
						<div class="form-group">
							<label for="id_periodo">Periodo</label>
							<input type="text" id="id_periodo" readonly="readonly" class="form-control" value="{{permiso.periodo.anio_periodo}}">
						</div>
						<div class="form-group">
			              <label for="id_fecha_inicio">Fecha Inicio:</label>
			              <input type="date" id="id_fecha_inicio" name="fecha_inicio" class="form-control" value="{{permiso.fecha_inicio|date:'Y-m-d'}}" readonly="readonly">
			            </div>
			            <div class="form-group">
			              <label for="id_hora_inicio">Hora Inicio:</label>
			              <input type="time" id="id_hora_inicio" class="form-control" value="{{permiso.fecha_inicio|time:'H:i'}}" readonly="readonly">
			            </div>
			            <div class="form-group">
			              <label for="id_fecha_fin">Fecha Fin:</label>
			              <input type="date" id="id_fecha_fin" class="form-control" value="{{permiso.fecha_fin|date:'Y-m-d'}}" readonly="readonly">
			            </div>
			            <div class="form-group">
			              <label for="id_hora_fin">Hora Fin:</label>
			              <input type="time" id="id_hora_fin" class="form-control" value="{{permiso.fecha_inicio|time:'H:i'}}" readonly="readonly">
			            </div>
			            <div class="form-group">
			              <label for="id_descripcion">Descripción</label>
			              <textarea id="id_descripcion" cols="30" rows="10" placeholder="Escriba el motivo por el que pide el permiso" class="form-control" readonly="readonly"> {{permiso.descripcion}} </textarea>
			            </div>
			            <a href="#modal-accept" class="btn btn-primary pull-right" data-toggle="modal" id="avalidar">Validar</a>
			            <input type="hidden" id="inputmode" name="mode"> <!-- Input
			            que contiene el modo (validar o rechazar) y se lo envía en el POST -->
			            <a href="#modal-accept" class="btn btn-default pull-left" data-toggle="modal" id="arechazar">Rechazar</a>
					</form>
				</div>
			</div>
		</div>
		<div class="col-sm-3 hidden-xs hidden-sm">
		</div>
	</div>
	<div class="modal fade" id="modal-accept">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4>Validación de Permiso de Usuario</h4>
				</div>
				<div class="modal-body">
					<p>¿Está seguro de que desea <strong></strong> el permiso?</p>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal" value="cancelar">Cancelar</button>
					<button id="aceptar" class="btn btn-info" type="submit">Aceptar</button>
				</div>
			</div>
		</div>
	</div>
{% endif %}
{% endblock content %}
{% block javascript %}
	{{block.super}}
	<script>
		$(document).ready(function(){
			var mode = null;
			$("#avalidar").on("click",function(){
				$("div#modal-accept").find("strong").text("validar");
				mode = "validar";
			});
			$("#arechazar").on("click",function(){
				$("div#modal-accept").find("strong").text("rechazar");
				mode = "rechazar";
			});
			$("button#aceptar").on("click",function(){
				$("input#inputmode").val(mode);
				$("form.form").submit();
			});
		});
	</script>
{% endblock javascript %}