{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
{% if messages %}
  {% for message in messages %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
  <div class="alert alert-danger">  
  {% endif %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
  <div class="alert alert-success"> 
  {% endif %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
  <div class="alert alert-warning"> 
  {% endif %}
  <button class="close" data-dismiss="alert"><span>&times;</span></button>
    <strong>Alerta!</strong> {{message}}  
  </div>
  {% endfor %}
	{% endif %}
	<div class="row">
		
	</div>
{% endblock content %}