{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
{% if messages %}
  {% for message in messages %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
  <div class="alert alert-danger">  
  {% endif %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
  <div class="alert alert-success"> 
  {% endif %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
  <div class="alert alert-warning"> 
  {% endif %}
  <button class="close" data-dismiss="alert"><span>&times;</span></button>
    <strong>Alerta!</strong> {{message}}  
  </div>
  {% endfor %}
	{% endif %}
	{% for permiso in permisos %}
		<div class="row">
			<div class="col-sm-1 hidden-xs hidden-sm">
			</div>
			<div class="col-xs-12 col-md-10">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h5 class="text-center"><strong>Solicitud de Permiso</strong></h5>
					</div>
					<div class="panel-body">
						<table class="table table-bordered text-center">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>Puesto</th>
									<th>Tipo de Usuario</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>{{permiso.usuario.first_name}} {{permiso.usuario.last_name}}</td>
									<td>{{permiso.usuario.persona.puesto}}</td>
									<td>{{permiso.usuario.persona.tipo}}</td>
								</tr>
								<tr>
									<td><strong>Fecha Inicio:</strong></td>
									<td colspan="2">{{permiso.fecha_inicio}}</td>
								</tr>
								<tr>
									<td><strong>Fecha Fin:</strong></td>
									<td colspan="2">{{permiso.fecha_fin}}</td>
								</tr>
								<tr>
									<td><strong>Descripción:</strong></td>
									<td colspan="2">{{permiso.descripcion}}</td>
								</tr>
							</tbody>
						</table>
						<div class="pull-right">
							<button class="btn btn-primary" type="submit">Validar</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-1 hidden-xs hidden-sm">
			</div>
		</div>
	{% endfor %}
{% endblock content %}